<% provide(:title, 'Libraries') %>
<h1>Libraries</h1>
<%= link_to 'Create new library', new_library_path %> 

<%= will_paginate %>

<ul class="users">
  <%= render @libraries %>
</ul>

<%= will_paginate %>